---
import '@styles/blogs.css'

interface Props {
	title: string
	phrase: string
}
const { title = 'nota', phrase } = Astro.props
---

<cite-phrase>
	<cite class="cite-phrase">
		<h3 class="title">{title.toUpperCase()}</h3>

		<slot />

		<div class="box-span">
			<span>{phrase}</span>
		</div>
	</cite>
</cite-phrase>

<style>
	:global(.dark) .cite-phrase {
		background-color: var(--surface1);
	}

	:global(.dark) .title,
	:global(.dark) .box-span span {
		background-color: var(--mantle);
		border-color: var(--surface1);
		color: var(--whitesmoke);
	}
</style>
